.culinary-container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #fcfcfc;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif;
  }
  
  .culinary-left {
    max-width: 40%;

  }
  
  .culinary-left h5 {
    color: #ff6b6b;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .culinary-left h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .culinary-left p {
    font-size: 18px;
    color: #777;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  .explore-btn {
    background-color: #00d36c;
    color: white;
    border: none;
    padding: 20px 40px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .culinary-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 50%;
  }
  
  .service-box {
    background-color: white;
    padding: 20px;
    width: 200px;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 10px 28px rgba(59, 59, 59, 0.1);
    text-align: center;
  }
  
  .service-box h3 {
    font-size: 18px;
    margin-top: 10px;
    color: #00ff55;
  }
  
  .service-box p {
    font-size: 22px;
    font-weight: 400;
    color: #11771f;
  }
  
  .service-icon {
    font-size: 40px;
    color: #00d36c;
  }
  
  @media (max-width: 768px) {
    .culinary-container {
      flex-direction: column;
      align-items: center;
    }
  
    .culinary-left {
      max-width: 100%;
      text-align: center;
    }
  
    .culinary-right {
      max-width: 100%;
      grid-template-columns: 1fr;
    }
  }
  